<!--== Start About Area ==-->
<section id="about-section" class="about-area about-default-area position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-xl-7 order-1 order-lg-1">
        <div class="thumb">
          <img src="assets/img/about/1.png" alt="Image">
        </div>
      </div>
      <div class="col-lg-5 col-xl-5 order-0 order-lg-0">
        <div class="about-content">
          <div class="section-title stitle-style2">          
            <h2 class="title">{{'ABOUT' | translate}} <span>{{'US' | translate}}</span></h2>
            <div class="desc">
              <p>{{'3Days is a club with a completely new concept, where We offer individual or group training programs three days a week To go beyond the common gym idea, 3Days was founded In 2018, we focus on the personal training curriculum Our exercises in order to achieve the maximum benefit from exercise and avoid injuries And guide trainees on their journey to achieve their goals.' | translate}}</p>
            </div>
          </div>
          <div class="inner-content">
            <div class="about-list">
              <ul>
                <li>{{'14 people maximum for group exercises' | translate}}</li>
                <li>{{'Certified trainers' | translate}}</li>
                <li>{{'Positive society' | translate}}</li>
                <li>{{'One hour' | translate}}</li>
              </ul>
            </div>
            <div class="inline-style">
              <a class="btn btn-theme" (click)="onFreeTrial()">{{'Free Trial' | translate}}</a>
              <div class="btn-play-box">
                <a class="btn-play" data-fancybox="play-video-popup" href="https://www.youtube.com/watch?v=xwQh3mlubV8&t=14s&ab_channel=3days">
                  <img src="assets/img/icons/play-btn1.png" alt="Image">{{'INTRO VIDEO' | translate}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shape-group">
    <div class="shape-img1">
      <img src="assets/img/photos/shape1.png" alt="Image">
    </div>
  </div>
</section>
<!--== End About Area ==-->
