<!--== Start Slider Area Wrapper ==-->
<section class="home-slider-area slider-default">
  <div class="home-slider-content">
    <div class="swiper-container home-slider-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <!-- Start Slide Item -->
          <div class="home-slider-item">
            <div class="bg-thumb bg-img" [ngClass]="{'home-page': page==='home', 'acadamy-page': page !== 'home'}" [style.background-image]="image"></div>
            <div class="slider-content-area">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-sm-12 offset-sm-0 col-lg-6 offset-lg-0">
                    <div class="content">
                      <div class="inner-content">
                        <h2 *ngIf="page==='home'">{{'3Days' | translate}} <span>{{'Will Be' | translate}}</span> {{'Enough' | translate}}</h2>
                        <h2 *ngIf="page==='academy'" class="font-size-90">{{'Kids Academy' | translate}}</h2>
                        <h2 *ngIf="page==='trainer'" class="font-size-90">{{'Our Creative Trainers' | translate}}</h2>
                        <p *ngIf="page==='home' || page==='academy'" class="text-white slider-description">{{'homeslider_content' | translate}}</p>
                        <p *ngIf="page==='trainer'" class="text-white slider-description">{{'creative_trainer_content' | translate}}</p>
                        <a *ngIf="page==='home'" class="btn-theme" (click)="onSignUp()">{{'Join Us' | translate}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</section>
<!--== End Slider Area Wrapper ==-->