<!--== Start Programs Area ==-->
<section id="{{section}}-section" class="service-area service-default-area" [ngClass]="{'home-page': page==='home', 'acadamy-page': page !== 'home'}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
            <h2 class="title"><span>{{'BRANCHES' | translate}}</span></h2>
          </div>
        </div>
        <div class="col-lg-12" *ngIf="page!='academy'">
          <div class="gender-content">
            <div class="gender-toggle">
              <div class="btn-gender-switch" [ngClass]="{'active' : selected_gender == 'male'}" (click)="selectGender('male')">
                {{"Man" | translate}}
              </div>
              <div class="btn-gender-switch" [ngClass]="{'active' : selected_gender == 'female'}" (click)="selectGender('female')">
                {{"Woman" | translate}}          
              </div>
            </div> 
          </div> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-12 offset-lg-0">
          <div class="row">
            <div class="col-sm-6 col-lg-4" *ngFor="let item of branches">
              <div class="service-item" (click)="onBranchSelected.emit(item)">
                <div class="inner-content">
                  <div class="thumb">
                    <a><span><img [src]="item.image" alt="Image"></span></a>
                  </div>
                  <div class="content">
                    <h4 class="title"><a href="#" (click)="$event.preventDefault()">{{item.name | translate}}</a></h4>
                    <h4 class="class-time">{{item.description | translate: {numbers: 60} }}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-12 offset-lg-0 whatsapp-box">          
          <a class="btn_start_chat" target="_blank" href="https://wa.me/966920012527?text=Can you help me with" rel="noopener noreferrer">            
            <img src="assets/img/icons/whatsapp-icon1.png" alt="">    
            <span>{{'start chat' | translate}}</span>
          </a>
        </div>
      </div>      
    </div>
  </section>
  <!--== End Programs Area ==-->
  