<!--== Start Footer Area Wrapper ==-->
<footer id="contact-section" class="footer-area default-style bg-img" [style.background-image]="'url(assets/img/slider/contact.jpg)'">
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="widget-item mb-sm-30">
            <div class="about-widget">
              <a class="footer-logo" href="/">
                <img src="assets/img/logo.svg" alt="Logo">
              </a>
              <p>{{'3 Days Will Be Enough' | translate}}{{'  💛'}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="widget-item mb-xs-50">
            <h4>{{'OPENING HOURS' | translate}}</h4>
            <div class="about-widget">
              <div class="opening-time">
                <ul>
                  <li>{{'Monday - Friday: 7 am to 10 pm' | translate}}</li>
                  <li>{{'Saturday - Sunday: 9 am to 10 pm' | translate}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 d-sm-flex justify-content-center ">
          <div class="widget-item">
            <h4>{{'FOLLOW US ON' | translate}}</h4>
            <div class="widget-social-icons d-flex">                            
              <a href="https://x.com/3daysksa?s=21&t=200MFfGqcCL54GtO1yuAPQ" target="_blank" class="d-flex icons-widget">
                <img src="assets/img/footer/twitter.png" alt="Apple App">                
              </a>
              <a href="https://www.instagram.com/invites/contact/?i=swrgqdoiwfgs&utm_content=457dma0" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>              
              <a href="https://apps.apple.com/ae/app/3days-pt/id6465423991" target="_blank"  class="d-flex icons-widget">
                <img src="assets/img/footer/apple-icon.png" alt="Apple App">                
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.memvera.threedays&hl=en&gl=US" target="_blank"  class="d-flex icons-widget">
                <img src="assets/img/footer/google-play-icon.png" alt="Google Play App">                
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-content">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="widget-copyright text-center">
              <p>{{'Made_by_Memvera' | translate }} 2023</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--== End Footer Area Wrapper ==-->
