<!--== Start Referral Code modal ==-->
<div class="modal-header">
    <h4 class="modal-title text-primary">
      <img class="logo-main" src="assets/img/logo.svg" alt="Logo" />
    </h4>
    <button type="button" class="btn btn-danger" (click)="onClose()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body membership-modal">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-12">
                <div class="section-title membership-container">
                    <div class="about-text go-to">                        
                        <!-- <div class="membership-price">
                            <h4>3600.00 {{'SAR' | translate}}</h4>                                    
                            <h5>{{ 3 + 'Days Per Week / ' +  2 + (2 > 1 ? ' MONTHS' : ' MONTH') | translate}}</h5>
                        </div>                 -->
                        <div class="main_title">
                            <p class="main-title">{{'INDIVIDUAL PERSONAL TRAINING PACKAGES' | translate }}-{{'60 minutes' | translate }}</p>
                            <h4 class="text-center dark-color">COMMITMENT Package – 3 x Per week with a COACH</h4>
                            <span>3600.00 {{'SAR' | translate}}</span>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="description">
                                    <p class="">
                                        Learning Package is 3x weekly with a COACH and 3 days of self directed workouts. This package is based on giving our Coaches
                                        the time needed to teach you more about yourself, the Fitness, 
                                        and lifestyle behaviours. Again 3 hours is a little bit of time, but 
                                        an extra hour to talk about your training and your lifestyle habits.
                                    </p>
                                    <p class="">
                                        It's a fantastic starting point for someone who's dabbled in the 
                                        Fitness atmosphere for quite some time but wants to learn more 
                                        about their body, nutrition, lifestyle factors, and of course, having 
                                        a laid-out program. At this point, we know you're getting a good 
                                        workout for 3 days per week and that you're confident in 
                                        completing your self-directed workouts.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="membership-table-responsive">
                                    <table class="table custom-table">                             
                                      <tbody>
                                        <tr>
                                          <th>Session</th>
                                          <td>12</td>
                                        </tr>
                                        <tr>
                                          <th>Following months</th>
                                          <td>1</td>
                                        </tr>
                                        <tr>
                                          <th>Week</th>
                                          <td>3 Days</td>
                                        </tr>  
                                        <tr>                        
                                          <th>Avaialble</th>
                                          <td>NON – MEMBER/ MEMBER</td>
                                        </tr>                              
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                                                
                    </div>
                </div>
            </div>           
        </div>
        <!-- <div class="row">
            <div class="col-md-12 justify-content-center d-flex">
                <div class="form-group text-center">
                    <button class="btn btn-back" (click)="onClose()">{{'Close' | translate}}</button>
                </div>
            </div>
        </div> -->
    </div>
  </div>
  <!--== End Referral Code modal ==-->